h1{
    color: red;
    text-align: center;
    font-size: 50px;
}

h2{
    color: blue;
    font-size: 35px;
}

.gris{
    background: grey;
}

strong{
    font-weight: normal;
    background: rgb(166, 255, 0);

}

em{
    font-style: normal;
    text-decoration: underline;
    font-size: 20px;
    color: orange;
}

.rose{
    background: rosybrown;
}

.droite{
    color: green;
    text-align: right;
    text-decoration: underline;
}