body{
    background: linear-gradient(70deg, rgba(214,109,255,1) 0%, rgba(255,253,111,1) 100%);
    margin: 20px auto;
    height: 1200px;
    width: 1200px;
}

h1{
    font-size: 100px;
    font-family: sans-serif;
}

@keyframes h1{
    0%{
        
        transform: translateX(-1200px);
        width: 0%;
        height: 0%;
        background: linear-gradient(70deg, rgba(214,109,255,1) 0%, rgba(255,253,111,1) 100%);
    }

    100%{
        width: 100%;
        height: 10%;
        background: linear-gradient(70deg, rgba(214,109,255,1) 0%, rgba(255,253,111,1) 100%);
    }
}

h1{
    animation: h1 1s;
}

